/*inline - The inline mode wraps many HTML elements tightly around them and is the default for all elements that are not specified with any other display values. An inline element does not start on a new line and it only takes up as much width as necessary.
*/
#div-1 {
	background-color: green;
	display: inline;
}

#span-1 {
	background-color: purple;
	display: none;
	width: 200px;
	height: 200px;
}
/*block - Many HTML elements are set to this mode of display by browsers’ stylesheets. They cannot be placed on the same horizontal line with any other display modes, including other block elements.*/
#span-2 {
	background-color: red;
	display: block;
}

/* Display none hides the element from the website and it will not be shown visually.*/
#div-2 {
	background-color: hotpink;
	display: none;
}

#img {
	width: 250px;
	height: 250px;
	display: inline-block;
}

#p-1 {
	background-color: #87CEFA;
}

#p-2 {
	background-color: rgb(255, 105, 180);
	width: 60%;
}

#p-3 {
	background-color: yellow;
	width: 40%;

}

.sample {
	display: inline-block;
	width: 30%;
	border: 1px solid black;
	text-align: center;
}

.img-float {
	width: 250px;
	height: 250px;
	float: inherit;
}

.box {
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent {
	width: 50%;
}

.one-hundred-pixels {
	width: 100px;
}

.parent {
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}

/*Viewports Units
VW: Relative to the viewport’s width
1 VW = 1% of the viewport’s width
50 VW = 50% of the viewport’s width
VH: Relative to the viewport’s height
1 VH = 1% of the viewport’s height
50 VH = 50% of the viewport’s height*/
.fifty-vw {
	width: 50vw;
}

.twenty-five-vh {
	height: 25vh;
}

/*They differ based on inheritance. REM is based on the root element (HTML). Every child element that uses REM will then use the HTML root size as its calculation point, regardless of whether or not a parent element has any different sizes specified.*/
.one-rem {
	font-size: 1rem;
}

/*EM on the other hand, is based on the font size of the parent element. If a parent element has a different size than the root element, the EM calculation will be based off of the parent element, and not the root element.*/
.one-em {
	font-size: 1em;
}

.two-rem {
	font-size: 2rem;
}

/*Percentage (%) can also be used in font-size and it will be the same with EM*/
.two-em {
	font-size: 2em;
}

.two-hundred-percent{
	font-size: 200%;
}

/*background-color - can change the color background. It can takes #hex value or an rgb value.*/
.background {
	min-height: 20rem;
	/*background-color: gray; or #808080 or rgb(128,128,128)*/
	
	/*Takes on the path to your image.*/
	background-image: url(https://cutewallpaper.org/22/your-name-aesthetic-desktop-wallpapers/2954230375.jpg);

	/*background-repeat - whether you would like the background to repeat if the width exceeds the background size. Other values are repeat, repeat-x and repeat-y.*/
	background-repeat: no-repeat;

	/*background-size - specifies the size of the background images.

	There are four different syntaxes you can use with this property: 
	>> the keyword syntax ("auto", "cover" and "contain").
	>> the size can also have a number value(500px or 60% 70%)
	>> the one-value syntax (sets the width of the image (height becomes "auto").
	>> the two-value syntax (first value: width of the image, second value: height).*/
	background-size: 100%;

	/*background-position - position of the background relative to the HTML element. Different values: 10% 40%, 50px 100px, left bottom*/
	background-position: center top;

	/*background-attachment - sets whether a background image scrolls with the rest of the page or is fixed.*/
	background-attachment: fixed;
}

.bg-title {
	color: white;
	text-align: center;
	font-size: 5em;
	margin: 0;
	line-height: 35rem;
}

.container-bg {
	/*background-color can also be used along with background-image. a will be for opacity*/
	background-color: rgba(0, 0, 0, 0.5);
}

/*position: 
	static - This is the default value for elements. The element is positioned according to the normal flow of the document.
	
	relative - relative remain in the normal flow of the document. But, unlike static elements, the left, right, top, bottom, and z-index properties affect the position of the element. An offset, based on the values of left, right, top, and bottom properties, is applied to the element relative to itself.

	absolute - Elements with position: absolute are positioned relative to their parent elements. In this case, the element is removed from the normal document flow. The other elements will behave as if that element is not in the document. No space is created for the element in the page layout.

	fixed - Fixed-position elements are similar to absolutely positioned elements. They are also removed from the normal flow of the document. But unlike absolutely positioned elements, they are always positioned relative to the  element.

	sticky - sticky is a mix of position: relative and position: fixed. It acts like a relatively positioned element until a certain scroll point and then it acts like a fixed element.

*/

.parent-element {
	background-color: skyblue;
	padding: 10px;
	position: relative;
	height: 300vh;

}

.child-one {
	background-color: gray;
	padding: 10px;
	
}

.child-two {
	background-color: yellow;
	padding: 10px;
	position: sticky;
	top: 10px;
}

.child-three {
	background-color: gray;
	padding: 10px;

}

html {
	height: 800vh;
}

.container {
	position: relative;
}

/*z-index
	Z-index belongs to the position like top, left, right and bottom.
	
	Add the z-index value according to the stack order.
	
*/
.black-box {
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}

.gray-box {
	position: absolute;
	z-index: 3;
	border: 2px solid black;
	background: lightgray;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
}

.green-box {
	position: absolute;
	z-index: 2;
	background: lightgreen;
	border: 2px solid black;
	width: 35%;
	left: 270px;
	top: -15px;
	height: 100px;
}