body{
    font-family: 'Open Sans', sans-serif;
}

body {    
    margin: 0 !important;
    padding: 0 !important;
}

nav{
    height: 90px;
    width: auto;
    padding: 0%;
    margin-top: 0%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    width:100%;
    overflow: hidden; 
}

nav ul{
    list-style-type: none;
    text-align: right;
}

 .nav-logo{
    float: left;
    padding: 10px;
} 

.right-nav{
    margin-top: 25px;
    padding-top: 10px;
    padding-right: 10px;
}

.nav{
    display: inline-block;
    margin-right: 40px;
}

.tuitt-button{
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #c2195b;
    color: white;
    border: none;
}

#bg-image{
    min-height: 20rem;
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    background-attachment: fixed;
    overflow: hidden;
}

.front-bg{
    background-color: rgba(0, 0, 0, 0.4);
    height: 600px;
}

.container{
    float: right;
    text-align: right;
    color: white;
    width: 50%;
    margin-right: 45px;
}

.container .title{
    font-size: 400%;
    font-family: 'Zilla Slab', serif;
}

.container .subtitle{
    float: right;
    width: 80%;
    font-size: 200%;
    font-weight: lighter;
}

.apply-button{
    float: right;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #c2195b;
    color: white;
    border: none;
    font-size: 150%;
    width: 20%;
    margin-left: 5px;
}

.intro{
    text-align: center;
}

.title-2{
    margin-top: 5%;
    margin-bottom: 3%;
    font-family: 'Zilla Slab', serif;
    font-size: 250%;
}

.intro-description{
    font-size: 150%;
    margin: auto;
    width: 80%;
    padding: 10px;
}

.pre-footer{
    background-color: #f7fbfb;
    text-align: center;
    
}

.prefooter-description{
    font-size: 150%;
    margin: auto;
    width: 80%;
    padding: 10px;
}

.book-button{
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    border: none;
    font-size: 150%;
    background-color: #336589;
    width: 10%;
    margin-top: 3px;
}
footer{
    margin-top: 1%;
    text-align: center;
}